body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  h1 {
    font-size: 30pt;
    text-align: center;
  }

  tr {
    font-size: 10pt;
    text-align: center;
  }

  table {
    text-align: center;
  }

  